{% extends 'base.html' %}

{% block title %} Todo-List {% endblock %}
{% block content %}
{% if all_items %}
<table class="table table-bordered">
    {% for items in all_items %}
    {% if items.completed%}
    <tr  class="table-secondary">
        <td class="striker">{{ items.item }}</td>
        <td>
            <center>{{ items.completed }}</center>
        </td>
        <td>
            <center>Delete</center>
        </td>
    </tr>
    {% else %}
    <tr>
        <td>{{ items.item }}</td>
        <td>
            <center>{{ items.completed }}</center>
        </td>
        <td>
            <center>Delete</center>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}

{% endblock %}